body {
  text-align: center;
  background: #ff9f1c;
  margin-top: 8rem;
}
#buttons button {
  display: none;
}

#board {
  /* background-color: green; */
  background-image: url("doodlejumpbg.png");
}
@media (max-width: 768px) {
  body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  #canvas-container {
    position: relative;
    display: flex;
    justify-content: center;
  }
  #buttons {
    position: absolute;
    top: 92%;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  #buttons button {
    display: flex;
    flex: auto;
    justify-content: center;
    border: none;
    background: transparent;
    font-size: 1.6rem;
  }
}
